name: Build Mule

on:
  repository_dispatch:
    types: [build-request]

jobs:
  build:
    runs-on: windows-2025
    strategy:
      matrix:
        include:
          - arch: x64
            qt_root: qt_win64msvc2022_64
          - arch: arm64
            qt_root: qt_win64msvc2022_arm64

    env:
      BUILD_ROOT: ${{ github.workspace }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 1

      - name: Use Prebuilt Qt
        shell: cmd
        run: |
          echo Setting Qt env to ${{ matrix.qt_root }}
          set QTDIR=%GITHUB_WORKSPACE%\${{ matrix.qt_root }}
          set PATH=%GITHUB_WORKSPACE%\${{ matrix.qt_root }}\bin;%PATH%
          echo Qt appears at %QTDIR%
          dir %QTDIR%

      - name: Build Storm (${{ matrix.arch }})
        shell: cmd
        run: |
          call scripts\build-arch.bat Release ${{ matrix.arch }}

      - name: Package with Squirrel (${{ matrix.arch }})
        shell: cmd
        working-directory: installer/squirrel
        run: |
          set VERSION=${{ github.event.client_payload.tag }}
          if "%VERSION:~0,1%"=="v" set "VERSION=%VERSION:~1%"

          if not exist nupkg mkdir nupkg
          if not exist Releases-${{ matrix.arch }} mkdir Releases-${{ matrix.arch }}

          if "${{ matrix.arch }}"=="x64" (
            nuget.exe pack Storm.nuspec -BasePath "%GITHUB_WORKSPACE%\build\deploy-x64-release" -OutputDirectory nupkg -Version %VERSION%
            Squirrel.Windows-1.9.1\Squirrel.exe --releasify "nupkg\Storm.%VERSION%.nupkg" --releaseDir "Releases-x64" --no-msi
          ) else (
            nuget.exe pack Storm-arm64.nuspec -BasePath "%GITHUB_WORKSPACE%\build\deploy-arm64-release" -OutputDirectory nupkg -Version %VERSION%
            Squirrel.Windows-1.9.1\Squirrel.exe --releasify "nupkg\Storm-arm64.%VERSION%.nupkg" --releaseDir "Releases-arm64" --no-msi
            ren "Releases-arm64\Setup.exe" "Setup-arm64.exe"
          )

      - name: Stage Artifacts (${{ matrix.arch }})
        shell: cmd
        run: |
          mkdir staging
          copy installer\squirrel\Releases-${{ matrix.arch }}\* staging\

      - name: Upload Artifacts (${{ matrix.arch }})
        uses: actions/upload-artifact@v4
        with:
          name: squirrel-${{ matrix.arch }}
          path: staging\
