name: Build Mule - macOS DMG
permissions:
  contents: write

on:
  repository_dispatch:
    types: [build-request]

jobs:
  build-and-release:
    runs-on: [self-hosted, my-local-mac]

    steps:
      - name: Checkout Private Repo
        uses: actions/checkout@v4
        with:
          repository: ${{ secrets.MAIN_REPO_NAME }}
          token: ${{ secrets.MAIN_REPO_PAT }}
          ref: ${{ github.event.client_payload.tag }}
          submodules: 'recursive'
          fetch-depth: 1

      - name: Install create-dmg
        run: |
          brew install node
          npm install --global create-dmg

      - name: Install Sparkle
        run: |
          brew install sparkle

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          cache: true
          version: 6.8.0
          host: mac
          target: desktop
          arch: clang_64

      - name: Build DMG with Sparkle
        run: |
          export PATH="/opt/qt/6.8.0/clang_64/bin:$PATH"
          bash scripts/generate-dmg.sh Release

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ secrets.MAIN_REPO_PAT }}
          repository: ${{ secrets.MAIN_REPO_NAME }}
          tag_name: ${{ github.event.client_payload.tag }}
          files: build/installer-Release/*.dmg
